<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8> </head>
    <body>
        <h1>Google Search</h1>
        <br/><br/><br/>
        <h2>Search for temperature of a place</h2>
        <form action="/temp" method="post">
            Place: <input type="text" name="Place">
            <input type="submit" name= "form" value="Submit" />
        </form>
        <br/><br/><br/>
        <h2>Search for distance between two places</h2>
        <form action="/distance" method="post">
            <table>
                <tr>Starting Place: <input type="text" name="Starting_Place" /></tr>
                <tr>Destination Place: <input type="text" name="Destination_Place" /></tr>
                <tr><td><input type="submit" name= "form" value="Submit" /></td></tr>
             </table>
        </form>

    </body>